<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_includes</string>
		<string>src</string>
		<string>css</string>
		<string>_posts</string>
		<string>_layouts</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>_includes</key>
			<dict>
				<key>lastModification</key>
				<real>496221110.02057302</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>_layouts</key>
			<dict>
				<key>lastModification</key>
				<real>496221110.020576</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>_posts</key>
			<dict>
				<key>lastModification</key>
				<real>496221110.02057499</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>css</key>
			<dict>
				<key>lastModification</key>
				<real>496221110.02057499</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>src</key>
			<dict>
				<key>lastModification</key>
				<real>496221110.02057397</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>01_linux.md</key>
			<dict>
				<key>lastModification</key>
				<real>495382554.95920002</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02_calc.md</key>
			<dict>
				<key>lastModification</key>
				<real>495382554.95920199</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>03_shell.md</key>
			<dict>
				<key>lastModification</key>
				<real>495382554.959203</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>04_mac.md</key>
			<dict>
				<key>lastModification</key>
				<real>495382554.959203</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05_Fortran.md</key>
			<dict>
				<key>lastModification</key>
				<real>499322638.97343397</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>10_about.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>499531788.26905501</real>
				<key>lastModification</key>
				<real>499531788.26905501</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>499322649.98054802</real>
				<key>lastModification</key>
				<real>499322649.98054802</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>_config.yml</key>
			<dict>
				<key>lastModification</key>
				<real>495382554.95920098</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>495896501.97459698</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>01_linux.md</string>
		</array>
		<array>
			<string>_config.yml</string>
		</array>
		<array>
			<string>02_calc.md</string>
		</array>
		<array>
			<string>10_about.md</string>
		</array>
		<array>
			<string>03_shell.md</string>
		</array>
		<array>
			<string>04_mac.md</string>
		</array>
		<array>
			<string>05_Fortran.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
			<integer>3</integer>
			<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
			<integer>9</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
