<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2012-06-07-removeM.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59753001</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-25-new1.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59753901</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-25-welcome-to-jekyll.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59753698</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-05-28-Linux-Epelerror.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755898</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-08-vim_window_split.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755802</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-02-Termial_Prompt.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755701</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-10-Linux_Zip.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755599</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-10-Rsync_Examples.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755599</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-05-iTerm_Titlebar-Path.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755498</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-05-xargs-exec.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754801</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-08-terminal-wifi.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754902</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-11-nohup.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754902</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-20-Find-oldfiles.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755498</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-21-cmake-install.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754997</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-21-shell-sed1.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754801</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-23-video-clip-sony.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754699</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-29-sh-rmoveextension.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754598</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-30-Macaddresschange.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754401</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-31-Macupdate-terminal.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754503</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-01-movie-martion.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754401</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-01-opsnssl-randommacaddress.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59753603</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-05-homebrew-automatic.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59753501</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-05-remove_space.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.597534</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-05-vaspgaussian-atomfix.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.597543</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-05-vim-ctrlCcopy.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.597534</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-29-RSC-Styleguide.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754097</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-03-gcc-installation.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754199</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-08-modulefile.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754097</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-13-cif2cell.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754002</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-27-archey.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59753299</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-07-gcc-6.1.0.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59754002</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-07-gcc_6.1.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>494638357.39578301</real>
				<key>lastModification</key>
				<real>494638357.39578301</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>2016-05-25-hazel.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59753197</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-20-SFmono-Font.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.597552</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-03-gcc49-release.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755301</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-30-font_linux.md</key>
			<dict>
				<key>lastModification</key>
				<real>494659229.18306702</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>2016-08-31-ubuntu-ps1.md</key>
			<dict>
				<key>lastModification</key>
				<real>494659221.513318</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>2016-08-31-ubuntu_dpkg.md</key>
			<dict>
				<key>lastModification</key>
				<real>494659224.51452899</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>2016-09-01-mac_terminal.md</key>
			<dict>
				<key>lastModification</key>
				<real>494659215.889691</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>2016-09-03-vim_comment.md</key>
			<dict>
				<key>lastModification</key>
				<real>494637334.59755999</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-04-macOS_diskbuild.md</key>
			<dict>
				<key>lastModification</key>
				<real>494660241.27723998</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-09-04-sierra_menu_icon_rearrange.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>494761293.991943</real>
				<key>lastModification</key>
				<real>494761293.991943</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>2016-09-04-vim_replace_text.md</key>
			<dict>
				<key>lastModification</key>
				<real>494659201.87866402</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>2016-09-05-ssierra_menuicon.md</key>
			<dict>
				<key>lastModification</key>
				<real>495108408.575414</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>2016-09-07-ubuntu_predefs.md</key>
			<dict>
				<key>lastModification</key>
				<real>494891395.86574799</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>2016-09-09-MacOS_Sierra_GM_public.md</key>
			<dict>
				<key>lastModification</key>
				<real>495063393.37624401</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>2016-09-09-xforms_library.md</key>
			<dict>
				<key>lastModification</key>
				<real>495065101.49295902</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>2016-09-10-ubuntu_locale.md</key>
			<dict>
				<key>lastModification</key>
				<real>495157583.39057797</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>Untitled - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>494638300.04332101</real>
				<key>lastModification</key>
				<real>494638300.04332101</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>18</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>494659311.72391701</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-09-04-sierra_menu_icon_rearrange.md</string>
		</array>
		<array>
			<string>2016-09-10-ubuntu_locale.md</string>
		</array>
		<array>
			<string>2016-09-09-xforms_library.md</string>
		</array>
		<array>
			<string>2016-09-09-MacOS_Sierra_GM_public.md</string>
		</array>
		<array>
			<string>2016-09-07-ubuntu_predefs.md</string>
		</array>
		<array>
			<string>2012-06-07-removeM.md</string>
		</array>
		<array>
			<string>Untitled - 2.md</string>
		</array>
		<array>
			<string>2016-09-04-vim_replace_text.md</string>
		</array>
		<array>
			<string>2016-05-25-hazel.md</string>
		</array>
		<array>
			<string>2016-03-27-archey.md</string>
		</array>
		<array>
			<string>2015-11-05-vim-ctrlCcopy.md</string>
		</array>
		<array>
			<string>2016-05-07-gcc_6.1.md</string>
		</array>
		<array>
			<string>2015-11-05-remove_space.md</string>
		</array>
		<array>
			<string>2015-11-05-homebrew-automatic.md</string>
		</array>
		<array>
			<string>2015-11-01-opsnssl-randommacaddress.md</string>
		</array>
		<array>
			<string>2014-05-25-welcome-to-jekyll.md</string>
		</array>
		<array>
			<string>2014-05-25-new1.md</string>
		</array>
		<array>
			<string>2016-05-07-gcc-6.1.0.md</string>
		</array>
		<array>
			<string>2016-03-13-cif2cell.md</string>
		</array>
		<array>
			<string>2015-12-08-modulefile.md</string>
		</array>
		<array>
			<string>2015-11-29-RSC-Styleguide.md</string>
		</array>
		<array>
			<string>2015-12-03-gcc-installation.md</string>
		</array>
		<array>
			<string>2015-11-05-vaspgaussian-atomfix.md</string>
		</array>
		<array>
			<string>2015-11-01-movie-martion.md</string>
		</array>
		<array>
			<string>2015-10-30-Macaddresschange.md</string>
		</array>
		<array>
			<string>2015-10-31-Macupdate-terminal.md</string>
		</array>
		<array>
			<string>2015-10-29-sh-rmoveextension.md</string>
		</array>
		<array>
			<string>2015-10-23-video-clip-sony.md</string>
		</array>
		<array>
			<string>2015-10-21-shell-sed1.md</string>
		</array>
		<array>
			<string>2015-09-05-xargs-exec.md</string>
		</array>
		<array>
			<string>2015-10-11-nohup.md</string>
		</array>
		<array>
			<string>2015-10-08-terminal-wifi.md</string>
		</array>
		<array>
			<string>2015-10-21-cmake-install.md</string>
		</array>
		<array>
			<string>2016-09-04-macOS_diskbuild.md</string>
		</array>
		<array>
			<string>2016-08-30-font_linux.md</string>
		</array>
		<array>
			<string>2016-06-20-SFmono-Font.md</string>
		</array>
		<array>
			<string>2016-08-31-ubuntu_dpkg.md</string>
		</array>
		<array>
			<string>2016-08-03-gcc49-release.md</string>
		</array>
		<array>
			<string>2016-08-31-ubuntu-ps1.md</string>
		</array>
		<array>
			<string>2015-10-20-Find-oldfiles.md</string>
		</array>
		<array>
			<string>2015-09-05-iTerm_Titlebar-Path.md</string>
		</array>
		<array>
			<string>2015-07-10-Linux_Zip.md</string>
		</array>
		<array>
			<string>2015-07-10-Rsync_Examples.md</string>
		</array>
		<array>
			<string>2015-07-02-Termial_Prompt.md</string>
		</array>
		<array>
			<string>2015-06-08-vim_window_split.md</string>
		</array>
		<array>
			<string>2015-05-28-Linux-Epelerror.md</string>
		</array>
		<array>
			<string>2016-09-01-mac_terminal.md</string>
		</array>
		<array>
			<string>2016-09-03-vim_comment.md</string>
		</array>
		<array>
			<string>2016-09-05-ssierra_menuicon.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
			<integer>61</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
